 -- Wifi
 cfg={}
 cfg.ssid=" "
 cfg.pwd=" "
WAIT_MN=0;
DEEPSLEEP='NO';
TARRE=350844 -- TARRE PAR DEFAUT
HXRATIO=23.32;
poids=0;
VDD=3;
RSSI=6;
--PINOUT
PIN_SENS1=0;
PIN_SENS2=1;
PIN_MOTOR=3;
LEDPIN=9;
BUILDINLED=4;
HXPIN_clk=6;
HXPIN_data=5;
PIN_DHT=7;
PIN_IR=2;
-- DOMOTICS
DOMO_IP='192.168.2.8'
DOMO_PORT=8084
idxpoids=73;
idxmoteur=74;
idxswitch=75;
idxdht=49;
idxir=76;
httpgetdomoticz={};
delaipesee_temp=30*60*1000;
delai_ir=1*60*1000;
nb_mesure_ir=30;  -- 30 Ir par minute = présence. 
nbtourwait=5; -- attente de x seconde avant arrêt moteur qq soit nb tour
mesures={};
battery_level=255;
lock=0;
securitylock=0;
json="";
